# Env
REACT_APP_DEBUG=true
REACT_APP_ENV=dev

# API Servers
REACT_APP_WSS_ENDPOINT="ws://127.0.0.1:7777"
REACT_APP_HTTP_ENDPOINT="http://127.0.0.1:5000"

# SIGNALING Servers
REACT_APP_SIGNALING_HOST="127.0.0.1"
REACT_APP_SIGNALING_PORT="9000"
REACT_APP_SIGNALING_SECURE=0

# RTC STUN/TURN Servers
REACT_APP_ICE_SERVERS=["stun:stun.ideasip.com"]

# Vendors
REACT_APP_SENTRY_DSN="N/A"

# Analytics
REACT_APP_GOOGLE_ANALYTICS_TRACKING_ID="N/A"