.Background {
  color: #262626;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.contentContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.HeaderText {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  margin: 0 auto;
  color: #262626;
}
.logo {
  margin-bottom: 40px;
}
.text {
  font-family: 'Open Sans';
}
.link {
  margin: 0px;
  max-width: 100px;
  border-radius: 15px;
  background-color: #e9685a;
  text-align: center;
  color: white;
}
.linkContainer {
  padding: 10px;
}
.link a {
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.link:hover {
  transform: scale(1.05);
  text-decoration: none;
  cursor: pointer;
  background-color: #e9685a;
}

.leftMargin {
  width: 100%;
}
.rightMargin {
  width: 100%;
}
.LeftSideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 500px;
  margin-right: 70px;
}
