.chessboard {
  width: 280px;
  height: 278px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.58);
  border-radius: 47px;
  background: url(./assets/chessboard22.jpg);
}
.playButtonContainer {
  position: relative;
  right: 20%;
  top: 50%;
}
.videoButtonContainer {
  position: relative;
  left: 90%;
  bottom: 20%;
}
.chatButtonContainer {
  position: relative;
  bottom: 0%;
  left: 80%;
}
