body {
  height:100%;
  width: 100%;
  padding:0;
  margin:0;
  font-family: 'Roboto', 'Open Sans','Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
